//------------------------------
//Color 線條顏色
//------------------------------

.color-primary {
    color: $primary-8;
}
//------------------------------
//Color 翠玉綠
//------------------------------
.color-primary-1{
    color: $primary-1;
}
.color-primary-2{
    color: $primary-2;
}
.color-primary-3{
    color: $primary-3;
}
.color-primary-4{
    color: $primary-4;
}
.color-primary-5{
    color: $primary-5;
}
.color-primary-6{
    color: $primary-6;
}
.color-primary-7{
    color: $primary-7;
}
.color-primary-8{
    color: $primary-8;
}
//------------------------------
//Color 暖暮橘/理財
//------------------------------
.color-orange-1{
    color: $orange-1;
}
.color-orange-2{
    color: $orange-2;
}
.color-orange-3{
    color: $orange-3;
}
.color-orange-4{
    color: $orange-4;
}
.color-orange-5{
    color: $orange-5;
}
.color-orange-6{
    color: $orange-6;
}
.color-orange-7{
    color: $orange-7;
}
.color-orange-8{
    color: $orange-8;
}
.color-hightlight-orange {
    color: $hightlight-color;
}
.color-hightlight-pink {
    color: $hightlight-color2;
}
.color-error {
    color: $error-color;
    &:hover {
        color: #f3232a;
        transition: 0.5s;
    }
}
.color-yellow-2{
    color: $yellow-2;
}
//------------------------------
//Color 中性顏色
//------------------------------
.color-gray-1 {
    color: $gray-1;
}
.color-gray-7 {
    color: $gray-7;
}
.color-pink-1{
    color: $pink-1
}
.color-pink-4{
    color: $pink-4
}
.color-pink-6{
    color: $pink-6
}
.color-pink-7{
    color: $pink-7
}

//------------------------------
//Background 背景底色
//------------------------------
.bg-primary--light {
    background: $primary-1;
    padding: 3rem 0;
}
.bg-primary {
    background: $primary-8;
}
.bg-gray-4 {
    background: $gray-4;
}
.bg-hightlight {
    background: $hightlight-color;
    &:hover {
        background: #f99632;
        transition: 0.5s;
    }
}
.bg-error {
    background: $error-color;
    &:hover {
        background: #f3232a;
        transition: 0.5s;
    }
}

.bg-pink-1{
    background-color: $pink-1
}
.bg-pink-4{
    background-color: $pink-4
}
.bg-pink-6{
    background-color: $pink-6
}
.bg-pink-7{
    background-color: $pink-7
}
